body {
    margin: 0;
    padding: 30px;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #646465, #d8d8d8);
    color: white;
    animation: fadeIn 1.2s ease-in-out;
    background: linear-gradient(120deg, #ff9a9e, #a18cd1);
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}

.title {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    text-shadow: 0px 0px 10px rgba(36, 36, 36, 0.5);
}

.form-box {
    max-width: 300px;
    margin: auto;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    padding: 80px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.3);
    animation: pop 0.8s ease;
}
input, select {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

@keyframes pop {
    0% { transform: scale(0.9); opacity: 0; }
    100% { transform: scale(1); opacity: 1; }
}

input, select {
    width: 100%;
    padding: 14px;
    border-radius: 10px;
    border: none;
    margin: 10px 0;
    font-size: 15px;
}

button {
    width: 100%;
    padding: 14px;
    background: #8d8c8c;
    color: white;
    border: none;
    border-radius: 12px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 18px;
    transition: 0.3s;
}

button:hover {
    background:black;
    transform: scale(1.05);
}

.list-section {
    max-width: 650px;
    margin: 40px auto;
}

.list-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

#studentList li {
    list-style: none;
    background: rgba(255,255,255,0.8);
    color: rgb(99, 88, 105);
    padding: 15px;
    border-radius: 12px;
    margin: 10px 0;
    font-size: 17px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    animation: slide 0.5s ease;
}

@keyframes slide {
    0% { transform: translateX(-30px); opacity: 0; }
    100% { transform: translateX(0);opacity:1;}
}